.card {
  height: 600px;
  width: 550px;
  background: whitesmoke;
  padding: 2rem;
  position: relative;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 750px) {
    height: auto;
    width: 100%;
  }
}