/* Center-aligns the question text and adds vertical spacing */
.question {
    text-align: center;
    margin: 2rem 0;
}

/* Styles the container of the answer options to layout the children in a column */
.answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Applies styles to each answer option to make them look like clickable buttons */
.answer {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0;
    width: 50%;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 5px;
}

/* Changes the appearance of answer options on hover to indicate interactivity */
.answer:hover {
    background-color: deepskyblue;
}

/* Styles the score display with bold text and positions it at the bottom-left of its container */
.score {
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

/* Styles the question number display with bold text and positions it at the bottom-right of its container */
.question_number {
    font-weight: bold;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
