/* center the text in the app */
.app {
  text-align: center;
}

/* styling for the app logo */
.app-logo {
  height: 40vmin;
  pointer-events: none;

  /* responsive styling for smaller screens */
  @media (max-width: 600px) {
    height: 30vmin;
  }
}

/* animation for the app logo spin */
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

/* styling for the app header */
.app-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* styling for app links */
.app-link {
  color: #61dafb;
}

/* keyframes for the app logo spin animation */
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
