/* Reset default styles for the body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Center content vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Set a minimum height to cover the viewport */
  min-height: 100vh;

  /* Apply a linear gradient background */
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

/* Set font for code elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
